<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
</head>

<body>
    <header>
        <div><a href="/">insta485</a></div>
        <div><a href="/explore/">explore</a></div>
        <div><a href="/users/{{logname}}/">{{logname}}</a></div>
    </header>

    <div id="reactEntry">
        Loading ...
    </div>

    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>

</html>
