<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
</head>
<body>
    <div><a href="/">insta485</a></div>
    <div><a href="/accounts/login/">login</a></div>
    <form action="{{url_for('accounts')}}?target={{url_for('show_index')}}" method="post" enctype="multipart/form-data">
        <input type="text" name="username" required placeholder="Username" />
        <input type="password" name="password" required placeholder="Password" />
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
    </form>
    Don't have an accout?
    <a href="/accounts/create/"><b>Sign up</b></a>
</body>
</html>
