<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insta485</title>
</head>
<body>
    <div><a href="/">insta485</a></div>
    <div><a href="/explore/">explore</a></div>
    <div><a href="/users/{{username}}/">{{username}}</a></div>

<form class="password-form" action="{{ url_for('accounts') }}?target={{ url_for('accounts_edit') }}" method="post" enctype="multipart/form-data">
    <label for="password">Old password</label>
    <input type="password" name="password" id="password" required/>

    <label for="new_password1">New password</label>
    <input type="password" name="new_password1" id="new_password1" required/>

    <label for="new_password2">New password, again</label>
    <input type="password" name="new_password2" id="new_password2" required/>

    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
</form>

<div>
    <a href="/accounts/edit/"><b>Back to edit account</b></a>
</div>

</body>
</html>
